body {
    background: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas#pong {
    /* Updated Border to match the "Light Pink" UI color */
    border: 4px solid #EEDBDB; 
    background: #2A4759;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
    border-radius: 4px; /* Slight rounded corners */
}